* {
    margin: 0;
}


div {
    display: flex;
    align-items: center;
    justify-content: center;
}

div img {
    width: 10rem;
}

.one {
    background-color: white;
    height: 100vh;
    padding-bottom: -10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-img {
    position: absolute;
}
.error-img img{
    background-size: cover;
    width: 100vw;
}
.error-content{
    display: flex;
    flex-direction: column;
}